@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url("../public/assets/group_img.png");
  background-repeat: no-repeat;
  background-size: cover; /* fills the area, cropping if needed */
  background-position: center; /* or top if you want the top part visible */
}
